.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #61A2A7;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  gap: 40px; /* Space between Info and Contact */
}

.info, .contact {
  display: flex;
  flex-direction: column;
}

.admin-switch-btn {
  background-color: #555;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.admin-switch-btn:hover {
  background-color: #777;
}
