@media (max-width: 1080px){
    .GalerieH1{
        font-size: 3rem;
        min-height: 4vh;
    }
    .Card{
        background-color: brown;
        gap: 20px;
        max-height: 44vh;
    }
    .ChambreP{
        display: none;
    }
    .ImageCarrousel{
        max-height: 100%;
        /* margin-left: 18%; */
        object-fit: cover;
    }
}